<!doctype html>
<html>
  <head>
    <title>Liste des utilisateurs</title>
  </head>
  <body>
    {% for elem in todo %}
      {% if elem[0][0] == "" %}
      <h2>Anonyme</h2>
      {% else %}
      <h2> {{ elem[0][0] }} </h2>
      {% endif %}
      <ul>
        <!-- une boucle -->
        {% for e in elem[1] %}
          <li>{{ e[1] }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </body>
</html>
